<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>情绪识别器</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


    <style type="text/css">
        .project_title {
            font-family: PingFangSC-Medium;
            font-size: 2rem;
            color: #000000;
            text-align: center;
            border-bottom: 0.01rem solid #dad5d5;
            padding-bottom: 0.2rem;
            margin: 0 0 1rem;
        }

        .lab_content {
            margin: 1rem;
        }

    </style>

</head>
<body>
<div class="lab_desc">
    <p class="project_title">情绪识别器</p>
    {#    <img src="https://s1.ax1x.com/2018/09/13/iAch6J.jpg">#}
</div>

<div class="lab_content">
    <div>

        <form id="upload-form" action="http://adacode.net:8084/classifyImage" method="post"
              enctype="multipart/form-data">
            　　　<input type="file" id="image" name="image"/>
            　　　
            <button type="submit" value="Upload">识别微表情</button>
        </form>


    </div>
    <div>
        {#        <img src="https://s1.ax1x.com/2018/09/13/iAch6J.jpg">#}
    </div>
</div>

</body>
</html>