<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>极客实验室</title>
</head>
<body>
<h1>极客实验室</h1>

<div class="lab_content">
    <div class="lab">
        <a href="/poem">
            <img class="lab_pic">
            <p class="lab_title">AI写诗器</p>
            <p class="lab_desc">背了那么多古诗，我们来自己造一首吧！</p>
        </a>
    </div>

    <div class="lab">
        <a href="/composition">
            <img class="lab_pic">
            <p class="lab_title">作文识别器</p>
            <p class="lab_desc">写了几篇作文了？这些美好的作文长大后将会是你最好的回忆</p>
        </a>
    </div>

    <div class="lab">
        <a href="/emotion">
            <img class="lab_pic">
            <p class="lab_title">情绪分辨器</p>
            <p class="lab_desc">机器识别微表情</p>
        </a>
    </div>
</div>
</body>
</html>